.auth__main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary);
  margin: 0;
  min-height: 100vh;
  // width: 100vw;
  padding: 1rem;
}

.auth__box-container {
  border-radius: 0.5rem;

  padding: 1rem;
  min-width: 280px;
  width: 100%;
  max-width: 500px;
  // min-height: 475px;

  background: var(--primary);
  border-radius: 10px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  padding: 1rem;
  color: var(--secondary);

  .label {
    display: inline-block;
    width: max-content;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}

.auth__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.auth__input {
  text-align: center;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid var(--secondary);
  padding: 1rem;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: inherit;

  &:focus {
    outline: none;

    &::selection {
      background-color: var(--secondary);
      color: var(--primary);
    }

    border-color: var(--quaternary);
  }
}

.auth__alert-error {
  color: #fff;
  background-color: #ff0000;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  text-decoration: none;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: inherit;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    transform: translateY(-1px);
    color: white;
    background-color: var(--secondary);
  }

  &:active {
    transform: translateY(1px);
    background-color: var(--tertiary);
  }

  &:disabled {
    cursor: progress;
  }

  &-google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--secondary);
  }

  &-singUP {
    text-decoration: none;
    text-align: center;
    color: var(--quaternary);
    display: inline-block;
    width: max-content;
    margin: 0 auto;

    &:hover {
      text-decoration: underline;
      background-color: inherit;
      color: var(--quaternary);
    }
  }

  &-login {
    background-color: var(--secondary);
    color: #ffffff;
  }
}

.google-icon {
  max-width: 1.2rem;
}

.QuestionRegistration {
  font-weight: bold;
  text-align: center;
}
