* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  min-height: 100vh;
  background-color: var(--primary);
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 4.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-5 {
  margin-bottom: 4.5rem;
}

.pointer {
  cursor: pointer;
}